.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#parent div {
  height: 300px;
  width: 200px;
  border: 3px solid transparent;
}

#parent div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: grab;
}

#parent div img:active {
  cursor: grabbing;
}

.selected {
  border: 3px solid rgb(0, 195, 255);
}
