.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image {
  width: 200px;
  height: 300px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: grab;
  border-radius: 8px;
}

.image img:active {
  cursor: grabbing;
}

.selected {
  border: 3px solid rgb(0, 195, 255);
}
